.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

li {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items:end;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  
}
button {
  margin:0 .3rem 0 .5rem;
}
button:nth-of-type(1) {
  margin-left: auto;
}
